<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drq.mapper.BrowseRecordsMapper">
   
   
   <insert id="insertRecord">
     insert into browse_records(goods_id,record_time) 
       values(#{goodsId},#{recordDate})
   </insert>
   
   <select id="getBrowseRecordsList" resultMap="BrowseRecordsMapper2">
     select * from browse_records
   </select>
   
   <resultMap type="BrowseRecords" id="BrowseRecordsMapper1">
     <result property="goodsId" column="goods_id"/>
     <result property="recordTime" column="record_time"/>
   </resultMap>
   
   <resultMap type="BrowseRecords" id="BrowseRecordsMapper2" extends="BrowseRecordsMapper1">
     <association property="goods" column="goods_id" 
         select="com.drq.mapper.GoodsMapper.getGoodsById"/>
   </resultMap>
</mapper>
